/* @override http://tedx.com/css/style.css */
/* General Page Settings */
* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	background: #c5c5c5 url(/images/top-pattern.png);
}

a, a:visited {
	color:#F00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

#home {
	position: absolute;
	height:156px;
	width:100%;
	border-bottom: 18px solid #c31d00;
	background: url(/images/top-pattern.png) 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

/* #wrapper-bg #top-top {
	position:relative;
	height:26px;
	width:auto;
	background:#333;
	z-index:3;
}

#wrapper-bg #ribbon {
	position:absolute;
	height:18px;
	background:#d42000;
	width:100%;
	z-index:3;
} */



#page {
	background: #fff;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000/*rgba(0,0,0,0.5)*/;
	box-shadow: 0 0 10px #000;
	
}

#wrapper {
	max-width: 940px;
	margin: 0px auto;
	position:relative;
}

#page .section, #page footer {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

#wrapper h2 {
	font-weight: lighter;
	padding-bottom: 5px;
}

.row {
	margin-left: 0px;
}

/* Menu */

#menu-wrapper {
	position: absolute;
	left: -225px;
	top: 84px;
	z-index: -20;
}

#menu {
	position:fixed;
	text-align:right;
	color:white;
	font-size:20px;
	z-index: -1;
}

#menu li {
	list-style: none;
}

#menu a {
	background: rgba(0,0,0,0.8);	
	display: block;
	font-weight: lighter;
	text-decoration:none;
	color: #fff;
	width: 210px;
	margin-bottom:4px;
	height:44px;
	padding-top:20px;
	padding-right:50px;		
}

#menu a:hover{
	background: rgba(0,0,0,0.4);
}

#menu .active a {
	background: rgba(0,0,0,0.2);
}

#menu a.logo, #menu a.logo:hover {
	background:url(/images/menu-logo.png) no-repeat #000;
	padding-top: 64px;
	height: 0;
	width:220px;
	overflow: hidden;
}

/* Header */

#wrapper #header {
	width: 940px;
	margin: 0 auto;
	padding:0px;
	border:none;
}

#wrapper #header div{
	padding:0px;
	border:none;
}

#header a#logo {
	margin: 26px 0;
	height:0;
	overflow: hidden;
	padding-top: 100px;
	display: block;
	background:url(/images/logo.png) no-repeat;
}


#wrapper #header h2 {
	border: none;
}

/* Hero */

#wrapper #hero {
	color: #fff;
	text-align: right;
	background: -10px center url(/images/12.jpg);	
}

#wrapper #hero h2 {
	border: none;
	font-weight: lighter;
	padding: 125px 15px;
	font-size: 28pt;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}

/* Speakers */

#page #speakers {
	padding: 17px;
	padding-bottom: 2px;
}

#speakers h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 17px;
}

#speakers .row {
	display: table;
	color: #fff;
}

.speaker {
	color: #333;
	display: block;
	float: left;
	width: 100px;
	border-bottom: 15px solid #fff;
	border-right: 15px solid #fff;
	height: 0;
	padding: 0px;
	cursor: pointer;
	padding-top: 100px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #dbdbdb;
}

.speaker:last-child {
	border-right: none;
}

.row:last-child {
	border: navajowhite;
}

.speaker.unannounced {
	cursor: default;
	background-image: url(/images/unannounced.png);
}

.speaker.unannounced.next {
	background-color: #dbdbdb;	
	background-position: center center;
}

.next {
	height: 205px;
	width: 680px;
	padding: 0;
	padding-top: 10px;
	padding-left: 225px;
	border-right: none;
	background-color: #f2f2f2;
	background-position: center left;
}

#degrey {
	background-image: url(/images/speakers/thumbnails/degrey.jpg);
}

#degrey.next {
	background-image: url(/images/speakers/degrey.jpg);	
}


/* Event Details */

#map_canvas {
  height: 100%;
}

#map_canvas * {
	border-bottom: none;
}

.divider {
	background:url(/images/divider-ribbon.png);
	width:960px;
	height:28px;
	padding:0px;
	margin-left:-10px;
	margin-top:-10px;
	border:none;
	position:absolute;
}

#page #event {
	padding: 0;	
}

#event #holder {
	height: 0;
}

#event #details h2 {
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#event #details {
	color: #fff;
	padding: 18px 18px 3px;
	position: relative;
	z-index: 1;
	width:300px;	
	top: 0;
	height: 280px;
	border-radius:0;
	left: 0;
	line-height: 16pt;
	background: rgba(0,0,0,0.87);
}

#event #details ul {
	font-size: 10pt;	
	list-style: none;
}

#event #details .label {
	float:left;
	text-align:right;
	font-weight:bold;
	width: 75px;
	padding-right:5px;
}

#event #details .value {
	margin-left: 75px;
	padding-left: 5px;
}

/* About */

#page #about {
	padding: 0;
}

#about h2, p {
	margin: 20px 20px;
}

.logo-small {
	background: url(/images/logo-black-small.png);
	width: 158px; 
	display: inline-block;
	padding-top:24px;
	height: 0;
	overflow: hidden;
	margin-bottom:-5px;
	margin-left:-3px;
}

#about p {
	margin-top: 15px;
	font-size:11.5pt;
	line-height: 18pt;
	color: #545454;
}

#about h2{
	border-bottom: 1px solid #ddd;
	margin-bottom: 17px;
}

#about a {
	height: 180px;
	display: table-cell;
	width: 350px;
	border-right: 1px solid #fff;
	color: #fff;
	padding: 10px;
	font-weight: lighter;
	vertical-align: bottom;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.25);	
}

#about a:hover {
	text-shadow: 0px 2px 1px rgba(0,0,0,0.75);	
}

#about a:last-child {
	border-right: none;
}

#about a#team {
	background: center left url(/images/team.jpg);	
}

#about a#last-year {
	background: center center url(/images/2011.jpg);	
}

#about a#contact-us {
	background: center right url(/images/contact-us.jpg);
	vertical-align: top;
	text-align: right;
}

/* Social Media */

#social {
	border:none;
}

#social h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 17px;	
}

#social div {
	width: 50%;
	display: table-cell;
}

/* Footer */

footer {
	padding: 20px;
	color: #fff;
	width: 940px;
	margin: 0 auto;
}

footer h3, footer .links {
	font-size: 10pt;
	line-height: 14pt;
	color: #dadada;
	padding: 5px 0 5px 10px;	
}

footer .links {
	float: left;
	padding-bottom: 20px;
	list-style: square inside;	
}

footer .links a {
	color: #dadada;
}

footer .sosumi {
	list-style: none;
	float: right;
	font-size: 8pt;
	border-left: 1px solid #999;
	line-height: 12pt;
	padding: 5px 0 5px 10px;
	text-align: right;
}

footer .sosumi .unimportant, footer .sosumi .unimportant a {
	color: #AAA;
}

/* Secondary Pages */

#page.bios, #page.contact, #page.application {
	padding: 25px 0;
}
.bios h2, .contact h2, .application h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 17px;
}
#page.contact, #page.application {
	padding: 25px;
}

/* Bios */

.bios .logo-small {
	margin-left:15px;
}
.bio * {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-size: 10pt;line-height: 16pt;}.bio {padding: ;min-height: 120px; margin: 10px auto;padding-bottom: 15px;border-bottom: 1px solid #dadada; clear: both;
	padding-right: 15px;
	padding-left: 15px;
}.bio:last-child {border: none;padding-bottom: 0;}.bio div {padding: 0;margin: 0;}.bio img {max-height: 100px;max-width: 100px;float: left;padding: 5px;border: 1px solid #dadada;}.bio .bio-content {margin-left: 125px;}.bio ul {margin: 0;padding: 0;}.bio h3, .bio .social li {display: inline;padding: 0;margin: 0;}.bio .social li {margin-right: 15px;min-height: 16px;background: url(/images/team/favicons/personal.png) no-repeat;}.bio .social li.facebook {background: url(/images/team/favicons/fb.png) no-repeat;}.bio .social li.linkedin {background: url(/images/team/favicons/linkedin.png) no-repeat;}.bio .social li.twitter {background: url(/images/team/favicons/twitter.png) no-repeat;}.bio .social li a {padding-left: 20px;background: no-repeat;}.bio a {color: #3b5998;text-decoration: none;}.bio a:hover {text-decoration: underline;}

/* Contact */

.contact {
	min-height: 250px;
}

.contact input, .contact textarea {
	background: #fff;
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 5px;
	font-size: 11pt;
	margin: 5px 0;
	line-height: 15pt;
}

.contact .required {
	color:#F00;
}

.contact label {
	width: 100%;
	display: block;
	margin-top: 15px;
}

.contact input {
	width: 420px;
	height: 25px;
	display: block;
}

.contact label:first-child {
	margin-top: 0;
}

.contact .details {
	width: 420px;
	margin-right: 15px;
	float: left;
}

.contact .message {
	padding-left: 440px;
}

.contact textarea {
	height: 175px;
	width: 438px;
}

.contact button {
	clear: both;
	margin: 0 auto;
	height: 20px;
	width: 100px;
	display: block;
}