/* General Page Settings */
* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	background: #d8d8d8 url(images/texture.png);
}

a, a:visited {
	color:#ccc;
}

#wrapper {
	max-width: 940px;
	background: #FFF;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#wrapper div, #wrapper footer {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

#wrapper h2 {
	font-weight: lighter;
	padding-bottom: 5px;
	border-bottom: 1px solid red;
}

.row {
	margin-left: 0px;
}

/* Header */
#wrapper #header h2 {
	border: none;
}

/* Hero */

#wrapper #hero {
	color: #fff;
	text-align: right;
	background: -10px center url(images/12.jpg);	
}

#wrapper #hero h2 {
	border: none;
	font-weight: lighter;
	padding: 125px 0;
	font-size: 28pt;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}

/* Speakers */

#wrapper #speakers {}

#wrapper #speakers h2 {}

/* Event Details */

#wrapper #divider {
	background:url(images/divider-ribbon.png);
	width:960px;
	height:28px;
	padding:0px;
	margin-left:-10px;
	margin-top:-10px;
	border:none;
	position:absolute;
}

#wrapper #event {}

#wrapper #event h2 {}

#event #info {
	float:left;
	width:480px;
	margin-top:50px;
}

#event #info #headers {
	float:left;
	text-align:right;
	font-weight:bold;
	width:65px;
	padding-right:5px;
	border-right:1px solid red;
}

#event #info #text {
	float:left;
	text-align:left;
	width:375px;
	padding-left:5px;
}

#event div {
	border:none;
}

#event #info div {
	border:none;
	padding:0px;
}

#event #map {
	float:right;
	width:360px;
}

/* About */

#wrapper #about {}

#wrapper #about h2 {}

#about div {
	border:none;
}

#about h1 {
	font-size:22px;
	font-weight:normal;
}

#about span img{
	margin-bottom:-5px;
	margin-left:-3px;
}

#about p {
	font-size:14px;
}

#about #boxes, #boxes div {
	border:none;
	padding:0px;
	margin-bottom:10px;
}

#boxes #team {
	background:url(images/team.png);
	width:290px;
	height:207px;
	-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	margin-right:20px;
	float:left;
}

#boxes #conference {
	background:url(images/conference.png);
	width:290px;
	height:207px;
	-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	margin-right:20px;
	float:left;
}

#boxes #contactus {
	background:url(images/contactus.png);
	width:290px;
	height:207px;
	-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
	float:left;
}

/* Social Media */

#wrapper #social {}

#wrapper #social h2 {}

/* Footer */

#wrapper footer {}

#wrapper footer h2 {
	border: none;
}