/* @override http://x.tedxuc.com/style.css */

body {
	background: #000;
}
/* @override 
	http://www.tedxuchicago.com/ticket/ticket.css
*/
body {
	background: #000 url(images/background.png) repeat-x 0 -63px;
	color: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.submit {
	width: 120px;
	text-align: center;
	margin: 30px auto 0;	
}

.logo {margin: 20px auto;
display: block; height: 0; padding-top: 97px; width: 348px; overflow: hidden; background: url(images/ticket_logo.png); background-position: 0 194px; z-index: 10000; }

.form {
	background: rgba(255,255,255,0.33);
	display: block;
	padding: 20px;
	width: 250px;
	margin: 0 auto;
	-moz-border-radius: 3px;
	-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #bfbfbf;
}

#longurl {
	outline-color: red;
}
#shortener .label {
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	text-shadow: #000000 0 1px 1px;
}
input#longurl {
	height: 25px;
	width: 100%;
}
#shortener .submit {
	margin: 10px auto 0px;
}

